### Import Libraries

In [30]:

import sqlite3
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
#connection
conn = sqlite3.connect('C:\\Users\\maryam\\Downloads\\Carlo Lisi\\New folder\\database.sqlite')

In [32]:

pd.read_sql(""" SELECT *
                FROM sqlite_master
                WHERE type='table';""",
           conn)

,type,name,tbl_name,rootpage,sql
0,table,Country,Country,2,"CREATE TABLE Country (\n CountryCode TEXT,\..."
1,table,CountryNotes,CountryNotes,186,CREATE TABLE CountryNotes (\n Countrycode T...
2,table,Series,Series,948,"CREATE TABLE Series (\n SeriesCode TEXT,\n ..."
3,table,Indicators,Indicators,4448,CREATE TABLE Indicators (\n CountryName TEX...
4,table,SeriesNotes,SeriesNotes,1317550,CREATE TABLE SeriesNotes (\n Seriescode TEX...
5,table,Footnotes,Footnotes,1317587,CREATE TABLE Footnotes (\n Countrycode TEXT...

### Check the head of data

In [33]:

pd.read_sql("""SELECT *
               FROM Indicators
               LIMIT 3;""",
           conn)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,133.560907
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,87.797601
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579

### Find the number of rows

In [34]:

pd.read_sql("""SELECT COUNT(*)
               FROM Indicators;""",
           conn)

   COUNT(*)
0   5656458

### Check for missing values in one column

In [35]:
pd.read_sql("""SELECT COUNT(*)
               FROM Indicators
               WHERE IndicatorName IS NULL;""",
           conn)

   COUNT(*)
0         0

### Filter not null

In [36]:
pd.read_sql("""SELECT *
               FROM Indicators
               WHERE IndicatorName IS NOT NULL;""",
           conn)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
5,Arab World,ARB,Arms imports (SIPRI trend indicator values),MS.MIL.MPRT.KD,1960,5.380000e+08
6,Arab World,ARB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,1960,4.769789e+01
7,Arab World,ARB,CO2 emissions (kt),EN.ATM.CO2E.KT,1960,5.956399e+04
8,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,6.439635e-01
9,Arab World,ARB,CO2 emissions from gaseous fuel consumption (%...,EN.ATM.CO2E.GF.ZS,1960,5.041292e+00
10,Arab World,ARB,CO2 emissions from liquid fuel consumption (% ...,EN.ATM.CO2E.LF.ZS,1960,8.485147e+01
11,Arab World,ARB,CO2 emissions from liquid fuel consumption (kt),EN.ATM.CO2E.LF.KT,1960,4.954171e+04
12,Arab World,ARB,CO2 emissions from solid fuel consumption (% o...,EN.ATM.CO2E.SF.ZS,1960,4.726981e+00
13,Arab World,ARB,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,1960,1.975445e+01
14,Arab World,ARB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.924027e+00
15,Arab World,ARB,Fixed telephone subscriptions,IT.MLT.MAIN,1960,4.068330e+05
16,Arab World,ARB,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,1960,6.167006e-01
17,Arab World,ARB,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,1960,1.929622e+00
18,Arab World,ARB,International migrant stock (% of population),SM.POP.TOTL.ZS,1960,2.990637e+00
19,Arab World,ARB,"International migrant stock, total",SM.POP.TOTL,1960,3.324685e+06
20,Arab World,ARB,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,1960,4.788325e+01
21,Arab World,ARB,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,1960,4.586295e+01
22,Arab World,ARB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,4.684706e+01
23,Arab World,ARB,Merchandise exports (current US$),TX.VAL.MRCH.CD.WT,1960,4.645919e+09
24,Arab World,ARB,Merchandise exports by the reporting economy (...,TX.VAL.MRCH.WL.CD,1960,2.468800e+09
25,Arab World,ARB,"Merchandise exports by the reporting economy, ...",TX.VAL.MRCH.RS.ZS,1960,1.646954e+01
26,Arab World,ARB,Merchandise exports to developing economies in...,TX.VAL.MRCH.R1.ZS,1960,2.260207e+00
27,Arab World,ARB,Merchandise exports to developing economies in...,TX.VAL.MRCH.R3.ZS,1960,4.496111e-01
28,Arab World,ARB,Merchandise exports to developing economies in...,TX.VAL.MRCH.R4.ZS,1960,6.379618e+00
29,Arab World,ARB,Merchandise exports to developing economies in...,TX.VAL.MRCH.R5.ZS,1960,2.790830e+00
...,...,...,...,...,...,...
5656428,Zimbabwe,ZWE,"PPG, multilateral (INT, current US$)",DT.INT.MLAT.CD,2015,1.626000e+06
5656429,Zimbabwe,ZWE,"PPG, official creditors (AMT, current US$)",DT.AMT.OFFT.CD,2015,1.663930e+08
5656430,Zimbabwe,ZWE,"PPG, official creditors (DIS, current US$)",DT.DIS.OFFT.CD,2015,8.377700e+07
5656431,Zimbabwe,ZWE,"PPG, official creditors (INT, current US$)",DT.INT.OFFT.CD,2015,2.321300e+07
5656432,Zimbabwe,ZWE,"PPG, other private creditors (AMT, current US$)",DT.AMT.PROP.CD,2015,6.250000e+05
5656433,Zimbabwe,ZWE,"PPG, other private creditors (DIS, current US$)",DT.DIS.PROP.CD,2015,0.000000e+00
5656434,Zimbabwe,ZWE,"PPG, other private creditors (INT, current US$)",DT.INT.PROP.CD,2015,1.000000e+03
5656435,Zimbabwe,ZWE,"PPG, private creditors (AMT, current US$)",DT.AMT.PRVT.CD,2015,6.250000e+05
5656436,Zimbabwe,ZWE,"PPG, private creditors (DIS, current US$)",DT.DIS.PRVT.CD,2015,0.000000e+00
5656437,Zimbabwe,ZWE,"PPG, private creditors (INT, current US$)",DT.INT.PRVT.CD,2015,1.000000e+03
5656438,Zimbabwe,ZWE,"Principal repayments on external debt, long-te...",DT.AMT.DLXF.CD,2015,1.670180e+08
5656439,Zimbabwe,ZWE,"Principal repayments on external debt, private...",DT.AMT.DPNG.CD,2015,0.000000e+00
5656440,Zimbabwe,ZWE,Private credit bureau coverage (% of adults),IC.CRD.PRVT.ZS,2015,3.210000e+01
5656441,Zimbabwe,ZWE,Procedures to build a warehouse (number),IC.WRH.PROC,2015,1.000000e+01
5656442,Zimbabwe,ZWE,Procedures to register property (number),IC.PRP.PROC,2015,5.000000e+00
5656443,Zimbabwe,ZWE,Profit tax (% of commercial profits),IC.TAX.PRFT.CP.ZS,2015,1.880000e+01
5656444,Zimbabwe,ZWE,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,2015,3.148148e+01
5656445,Zimbabwe,ZWE,Public credit registry coverage (% of adults),IC.CRD.PUBL.ZS,2015,0.000000e+00
5656446,Zimbabwe,ZWE,Source data assessment of statistical capacity...,IQ.SCI.SRCE,2015,6.000000e+01
5656447,Zimbabwe,ZWE,Start-up procedures to register a business (nu...,IC.REG.PROC,2015,9.000000e+00
5656448,Zimbabwe,ZWE,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,2015,5.000000e+00
5656449,Zimbabwe,ZWE,Tax payments (number),IC.TAX.PAYM,2015,4.900000e+01
5656450,Zimbabwe,ZWE,Time required to build a warehouse (days),IC.WRH.DURS,2015,4.480000e+02
5656451,Zimbabwe,ZWE,Time required to enforce a contract (days),IC.LGL.DURS,2015,4.100000e+02
5656452,Zimbabwe,ZWE,Time required to get electricity (days),IC.ELC.TIME,2015,1.060000e+02
5656453,Zimbabwe,ZWE,Time required to register property (days),IC.PRP.DURS,2015,3.600000e+01
5656454,Zimbabwe,ZWE,Time required to start a business (days),IC.REG.DURS,2015,9.000000e+01
5656455,Zimbabwe,ZWE,Time to prepare and pay taxes (hours),IC.TAX.DURS,2015,2.420000e+02
5656456,Zimbabwe,ZWE,Time to resolve insolvency (years),IC.ISV.DURS,2015,3.300000e+00
5656457,Zimbabwe,ZWE,Total tax rate (% of commercial profits),IC.TAX.TOTL.CP.ZS,2015,3.280000e+01

### Check for missing values in all columns

In [37]:
# checking for missing values in all columns
pd.read_sql("""SELECT COUNT(*) - COUNT(CountryName) AS missing_CountryName,
                      COUNT(*) - COUNT(CountryCode) AS missing_CountryCode,
                      COUNT(*) - COUNT(IndicatorName) AS missing_IndicatorName,
                      COUNT(*) - COUNT(IndicatorCode) AS missing_IndicatorCode, 
                      COUNT(*) - COUNT(Year) AS missing_Year, 
                      COUNT(*) - COUNT(Value) AS missing_Value
                FROM Indicators;""",
           conn)

,missing_CountryName,missing_CountryCode,missing_IndicatorName,missing_IndicatorCode,missing_Year,missing_Value
0,0,0,0,0,0,0

In [38]:
pd.read_sql("""SELECT COUNT (DISTINCT IndicatorName)
                FROM Indicators;""",
           conn)

   COUNT (DISTINCT IndicatorName)
0                            1344

### Selecting distinct indicators

In [39]:
pd.read_sql("""SELECT DISTINCT IndicatorName
                FROM Indicators;""",
           conn)

                                          IndicatorName
0     2005 PPP conversion factor, GDP (LCU per inter...
1     2005 PPP conversion factor, private consumptio...
2     ARI treatment (% of children under 5 taken to ...
3               Access to electricity (% of population)
4     Access to electricity, rural (% of rural popul...
5     Access to electricity, urban (% of urban popul...
6            Access to non-solid fuel (% of population)
7     Access to non-solid fuel, rural (% of rural po...
8     Access to non-solid fuel, urban (% of urban po...
9     Adequacy of social insurance programs (% of to...
10    Adequacy of social protection and labor progra...
11    Adequacy of social safety net programs (% of t...
12    Adequacy of unemployment benefits and ALMP (% ...
13    Adjusted net enrolment rate, primary, both sex...
14     Adjusted net enrolment rate, primary, female (%)
15       Adjusted net enrolment rate, primary, male (%)
16       Adjusted net national income (annual % growth)
17     Adjusted net national income (constant 2005 US$)
18           Adjusted net national income (current US$)
19    Adjusted net national income per capita (annua...
20    Adjusted net national income per capita (const...
21    Adjusted net national income per capita (curre...
22    Adjusted net savings, excluding particulate em...
23    Adjusted net savings, excluding particulate em...
24    Adjusted net savings, including particulate em...
25    Adjusted net savings, including particulate em...
26    Adjusted savings: carbon dioxide damage (% of ...
27    Adjusted savings: carbon dioxide damage (curre...
28    Adjusted savings: consumption of fixed capital...
29    Adjusted savings: consumption of fixed capital...
...                                                 ...
1314  Unmet need for contraception (% of married wom...
1315                                   Urban population
1316                      Urban population (% of total)
1317                 Urban population growth (annual %)
1318    Urban poverty gap at national poverty lines (%)
1319  Urban poverty headcount ratio at national pove...
1320               Use of IMF credit (DOD, current US$)
1321  Use of insecticide-treated bed nets (% of unde...
1322  Value lost due to electrical outages (% of sales)
1323  Vitamin A supplementation coverage rate (% of ...
1324  Vulnerable employment, female (% of female emp...
1325  Vulnerable employment, male (% of male employm...
1326  Vulnerable employment, total (% of total emplo...
1327  Wage and salaried workers, female (% of female...
1328  Wage and salaried workers, total (% of total e...
1329  Wage and salary workers, male (% of males empl...
1330           Wanted fertility rate (births per woman)
1331  Water productivity, total (constant 2005 US$ G...
1332                 Wholesale price index (2010 = 100)
1333  Women who believe a husband is justified in be...
1334  Women who believe a husband is justified in be...
1335  Women who believe a husband is justified in be...
1336  Women who believe a husband is justified in be...
1337  Women who believe a husband is justified in be...
1338  Women who believe a husband is justified in be...
1339  Women's share of population ages 15+ living wi...
1340  Youth literacy rate, population 15-24 years, b...
1341  Youth literacy rate, population 15-24 years, f...
1342  Youth literacy rate, population 15-24 years, g...
1343  Youth literacy rate, population 15-24 years, m...

[1344 rows x 1 columns]

### Search for some indicator about GDP

In [40]:
pd.read_sql("""SELECT DISTINCT IndicatorName
               FROM Indicators
               WHERE IndicatorName LIKE 'GDP%';""",
           conn)

                                        IndicatorName
0                                  GDP (constant LCU)
1                                   GDP (current LCU)
2            GDP at market prices (constant 2005 US$)
3                  GDP at market prices (current US$)
4          GDP deflator (base year varies by country)
5                               GDP growth (annual %)
6                  GDP per capita (constant 2005 US$)
7                       GDP per capita (constant LCU)
8                        GDP per capita (current LCU)
9                        GDP per capita (current US$)
10                   GDP per capita growth (annual %)
11  GDP per capita, PPP (constant 2011 internation...
12      GDP per capita, PPP (current international $)
13      GDP per person employed (constant 1990 PPP $)
14  GDP per unit of energy use (PPP $ per kg of oi...
15  GDP per unit of energy use (constant 2011 PPP ...
16           GDP, PPP (constant 2011 international $)
17                 GDP, PPP (current international $)

In [ ]:
pd.read_sql(""" SELECT *
                FROM Indicators
                WHERE IndicatorName ='GDP per capita (current US$)'
                AND CountryName = "Brazil"
                AND Year>=2010;""",
           conn)

### Compare with China

In [ ]:

pd.read_sql("""SELECT *
               FROM Indicators
               WHERE IndicatorName='GDP per capita (current US$)'
               AND (CountryName= 'Brazil' OR CountryName= 'China')
               AND Year>=2010;""",
           conn)

### Check the 90's in Brazil

In [ ]:
pd.read_sql("""SELECT * 
               FROM Indicators
               WHERE IndicatorName='GDP per capita (current US$)'
               AND CountryName='Brazil'
               AND Year BETWEEN 1990 AND 1999;""",
           conn)

### Check other countries in 2014

In [ ]:
pd.read_sql("""SELECT *
               FROM Indicators
               WHERE IndicatorName='GDP per capita (current US$)'
               AND CountryName IN ("Brazil", "China", "India")
               AND Year=2014;""",
            conn)

### Search for the highest GDP per capita in 2014

In [ ]:
pd.read_sql("""SELECT CountryName, MAX (Value)
               FROM Indicators
               WHERE IndicatorName = 'GDP per capita (current US$)'
               AND Year = 2014;""",
            conn)

### Order (and reafirm the highest GDP per capita)

In [ ]:
pd.read_sql("""SELECT * 
               FROM Indicators
               WHERE IndicatorName='GDP per capita (current US$)'
               AND Year= 2014
               ORDER BY Value DESC
               LIMIT 3;""",
           conn)

### Compare the averages

In [ ]:
pd.read_sql(""" SELECT CountryName, AVG(Value)
                FROM Indicators
                WHERE IndicatorName= 'GDP per capita (current US$)'
                AND CountryName IN ('Brazil', 'China', 'India', 'Angola')
                AND Year>2010
                GROUP BY CountryName;""",
           conn)

### Find the number of measures during this time

In [ ]:
pd.read_sql(""" SELECT CountryName, count (*) AS n_measures
                FROM Indicators
                WHERE IndicatorName= 'GDP per capita (current US$)'
                AND CountryName IN ('Brazil', 'China', 'India', 'Angola')
                AND Year>2010
                GROUP BY CountryName
                ORDER BY n_measures
                LIMIT 10;""",
           conn)

In [ ]:
pd.read_sql(""" SELECT *
                FROM Indicators
                WHERE IndicatorName= 'GDP per capita (current US$)'
                AND CountryName = 'Angola'
                AND Year>2010;""",
           conn)

#### Important to know that Angola has less measures during this time

### Make a join to get the information about indicators GDP related measured in 2014 in Brazil

In [ ]:
pd.read_sql(""" SELECT Indicators.*, Series.LongDefinition
                FROM Indicators
                LEFT JOIN Series 
                ON Indicators.IndicatorName  = Series.IndicatorName
                WHERE Indicators.IndicatorName LIKE 'GDP%'
                AND CountryName ='Brazil'
                AND Year=2014;""",
            conn)

In [ ]:
df=pd.read_sql(""" SELECT *,
                   CASE WHEN Value < 10000 THEN 'Low'
                   WHEN Value > 80000 THEN 'High'
                   ELSE 'Medium' END AS Category
                   FROM Indicators
                   WHERE IndicatorName='GDP per capita (current US$)'
                   AND Year=2014;""",
              conn)

In [ ]:
fig, axes= plt.subplots(1,2, figsize=(8,4),sharey=True)

ax1= sns.distplot(df.Value, bins=40, hist_kws={'edgecolor':'k'}, color='mediumseagreen',kde=False,ax=axes[0])
ax1.set_title('Histogram')
ax1.set(xlabel="GDP per capita (current US$) - Value")
ax1= sns.despine()

ax2= sns.countplot(x='Category', data=df, palette="Greens", ax=axes[1])
ax2.set_title('Frequency Count')
ax2.set(xlabel="GDP per capita (current US$) - Category")
ax2= sns.despine();

In [ ]:
fig.savefig('eda_sql.png', transparent=True)

### Add the mean of last 3 years using window function

In [ ]:
pd.read_sql(""" SELECT *,
                ROUND(AVG(Value) OVER (PARTITION BY CountryCode),0) AS AVG_3Y
                FROM Indicators
                WHERE IndicatorName='GDP per capita (current US$)'
                AND Year IN (2012,2013,2014);""",
           conn)

### Show the first place from each year

In [ ]:
pd.read_sql(""" WITH GDP_3 AS 
                (SELECT *,
                RANK () OVER (PARTITION BY Year ORDER BY Value DESC) AS myrank
                FROM Indicators
                WHERE IndicatorName='GDP per capita (current US$)'
                AND Year IN (2012,2013,2014))
                
                SELECT *
                FROM GDP_3
                WHERE myrank = 1;""",
           conn)